<section class="backgroundsection">
    <h1>Fast and efficient, online ordering you must try.</h1>
</section>
<section class="cart-hero">
    <div class="hero">
        <h1>Cart</h1>
        <div>
            <table>
                <tbody>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-x"></i></td>
                        <td>
                            <img src="" alt="">
                            <p></p>
                        </td>
                        <td>
                            <div class="counter">
                                <p>+</p>
                                <p>0</p>
                                <p>-</p>
                            </div>
                        </td>
                        <td>$9.5</td>
                        <td>$9.5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>