<section class="backgroundsection">
    <h1>Fast and efficient, online ordering you must try.</h1>
</section>
<section class="cart-hero">
    <div class="hero">
        <h1>Cart</h1>
        <div class="hero-all">
            <table>
                <tbody>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                    @for (item of cart; track $index) {
                        <tr>
                            <td><i class="fa-solid fa-x" (click)="deleteproduct(item.product.id, $event)"></i></td>
                            <td class="productinfo">
                                <img [src]="item.product.image" alt="">
                                <p>{{item.product.name}}</p>
                            </td>
                            <td>
                                <div class="counter">
                                    <i class="fa-solid fa-plus" (click)="plus(item.quantity + 1, item.price, item.product.id, $event)" ></i>
                                    <p>{{item.quantity}}</p>
                                    <i class="fa-solid fa-minus" (click)="plus(item.quantity - 1, item.price, item.product.id, $event)"></i>
                                </div>
                            </td>
                            <td>${{item.price}}</td>
                            <td>${{item.price * item.quantity}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h1>Total: <span>$
                @if (cart.length > 0) {
                    {{totall}}
                }@else {
                    0
                }
            </span></h1>
        </div>
    </div>
</section>