.backgroundsection{
    background: url("/photos/inner_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundsection > h1{
    font-size: 40px;
    text-align: center;
    margin-inline: 25px;
    font-weight: 600;
    font-family: Georgia;
    letter-spacing: 1px;
}

.cart-hero{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hero{
    display: flex;
    flex-direction: column;
    max-width: 940px;
    width: 100%;
    align-items: center;
    padding-inline: 30px;
    gap: 20px;
}

.hero > h1 {
    font-family: Georgia;
    font-size: 34px;
}

.hero > div{
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tbody > tr:first-child{
    background-color: #F3F3F3;
}

tr{
    transition: 0.4s;
    border-bottom: 3px #CFCFCF solid;
}

tr:hover{
    background-color: #F3F3F3;
}

th{
    text-align: start;
    padding: 15px;
}

td{
    padding: 15px;
}

.counter{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px rgb(211, 211, 211) solid;
    border-radius: 3px;
    max-width: 75px;
    padding: 7px;
    justify-content: center;
}

.counter > i{
    cursor: pointer;
    font-size: 12px;
}

.counter > p{
    cursor: pointer;
}

.productinfo{
    display: flex;
    gap: 30px;
}

.productinfo > img{
    width: 100px;
}

.fa-x{
    transition: 0.4s;
    cursor: pointer;
}

.fa-x:hover{
    color: red;
}

.hero-all{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 570px) {

    .productinfo > img{
        width: 70px;
    }

    
    .productinfo > p{
        font-size: 13px;
    }

    .productinfo{
        flex-direction: column-reverse;
        gap: 0px;
    }

    .counter{
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px rgb(211, 211, 211) solid;
        border-radius: 3px;
        max-width: 50px;
        padding: 7px;
        justify-content: center;
    }
    
    .counter > i{
        cursor: pointer;
        font-size: 10px;
    }

    td{
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero{
        padding-inline: 5px;
    }

}

@media only screen and (max-width: 330px) {
    .counter{
        gap: 3px;
        max-width: 40px;
        padding: 7px;
        justify-content: center;
    }
    
    .counter > i{
        cursor: pointer;
        font-size: 10px;
    }

    .counter > p{
        font-size: 13px;
    }
}