<section class="backgroundsection">
    <h1>Fast and efficient, online ordering you must try.</h1>
</section>
<section class="main-cont">
    <section class="categories-contaier">
        <h1>Categories</h1>
        <ul id="categories-list">
            <li (click)="getcards()">All</li>
            @for (item of categories; track $index) {
                <li (click)="change(item.id)" (click)="filter()">{{item.name}}</li>
            }
        </ul>
    </section>
    <section class="products-cont">
        <section class="filter-cont">
            <form action="" class="filterr" (submit)="filter()" (reset)="getcards()">
                <p>Filter</p>
                <div class="slider">
                    @if(slider == -1 || slider == undefined){
                        <label for="spiciness" id="spicinesstext">Spiciness: Not Choosen</label>
                    } @else {
                        <label for="spiciness" id="spicinesstext">Spiciness: {{slider}}</label>
                    }
                    <input type="range" name="spiciness" id="spiciness" min="-1" max="4" value="-1" [(ngModel)] = "slider">
                </div>
                <div class="check">
                    <label for="nuts">Nuts</label>
                    <input type="checkbox" name="nuts" id="nuts" [(ngModel)] = "nuts">
                </div>
                <div class="check">
                    <label for="vegetarian">Vegetarian</label>
                    <input type="checkbox" name="vegetarian" id="vegetarian" [(ngModel)] = "vegetarian">
                </div>
                <input type="submit">
                <input type="reset">
            </form>
        </section>
        <section id="products">
            @for (item of products; track $index) {
                <div class="meel-cont">
                    <img [src]="item.image" alt="123">
                    <div class="products-inside">
                        <h1>{{item.name}}</h1>
                        <p>Spiciness: {{item.spiciness}}</p>
                        <div class="spec">
                            <div class="nut-info" >
                                <i class="fa-solid" [ngClass]="{ 'fa-check': item.nuts, `fa-x`: !item.nuts  }"></i>
                                <p>Nuts</p>
                            </div>
                            <div class="vegetarian-info">
                                <i class="fa-solid" [ngClass]="{ 'fa-check': item.vegeterian, `fa-x`: !item.vegeterian  }"></i>
                                <p>Vegeterian</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
    </section>
</section>